body {
    background-color: #bc4749;
    color: #cbdfbd;
    padding: 10px;
    margin: 10px;
    font-family: "Mountains of Christmas", serif;
    font-size: large;
}

.title {
    font-family: "Mountains of Christmas", serif;
    font-weight: 700;
}

.welcome {
    font-size: 30px;
}
