body {
    background-color: #bc4749;
    color: #cbdfbd;
    padding: 10px;
    margin: 10px;
    font-family: "Mountains of Christmas", serif;
    font-size: large;
}

.mountains-of-christmas-regular {
  font-family: "Mountains of Christmas", serif;
  font-weight: 400;
  font-style: normal;
}

.mountains-of-christmas-bold {
  font-family: "Mountains of Christmas", serif;
  font-weight: 700;
  font-style: normal;
}

